<div class="schemes">

  <% if Dimension.first != nil %>
    <!--Taille 5 -->
    <div class="selectable" data-size="<%= Dimension.first.id + 4 %>">
      <div class="cake-scheme3"></div>
      <div>
        <p>2 étages</p>
        <p class="level-1">10 parts</p>
        <p class="level-2">20 parts</p>
      </div>
    </div>

    <!--Taille 4 -->
    <div class="selectable" data-size="<%= Dimension.first.id + 3 %>">
      <div class="cake-scheme3"></div>
      <div>
        <p>2 étages</p>
        <p class="level-1">factice</p>
        <p class="level-2">20 parts</p>
      </div>
    </div>

    <!--Taille 3 -->
    <div class="selectable" data-size="<%= Dimension.first.id + 2 %>">
      <div class="cake-scheme3"></div>
      <div>
        <p>2 étages</p>
        <p class="level-1">10 parts</p>
        <p class="level-2">factice</p>
      </div>
    </div>

    <!--Taille 2 -->
    <div class="selectable" data-size="<%= Dimension.first.id + 1 %>">
      <div>
      <div class="adjust-cake-scheme2"></div>
      <div class="cake-scheme2"></div>
      </div>
      <div>
        <p>1 étage</p>
        <p class="level-1">20 parts</p>
      </div>
    </div>

    <!--Taille 1 -->
    <div class="selectable" data-size="<%= Dimension.first.id %>">
      <div>
      <div class="adjust-cake-scheme1"></div>
      <div class="cake-scheme1"></div>
      </div>
      <div>
        <p>1 étage</p>
        <p class="level-1">10 parts</p>
      </div>
    </div>
  <% end %>

</div>
