<div class="left">
  <div class="form">

    <div>
      <p id="dbdate" data-deliverydate=<%= "#{@line.delivery_date.to_json}" %>></p>
    </div>

    <h1><%= t('title.order') %></h1>

    <%= simple_form_for([@cake, @line]) do |f| %>

      <% if @cake.photo.key.nil? %>
        <p><%= image_tag "cake1.png", class: "photo" %></p>
      <% else %>
        <p><%= cl_image_tag @cake.photo.key, class: "photo" %></p>
      <% end %>

      <p class="name"><%= @cake.name %></p>

      <!-- Parfum -->
      <%= f.input :flavour_id, collection: Flavour.all, :input_html => { class: "field" }, label_method: :description, label: t('flavour'), include_blank: false %>

      <!-- Personnalisation -->
      <div id="rotateable">
        <label><%= t('label.customization') %></label><div class="fas fa-angle-right"></div>
      </div>
      <%= f.input :option, :input_html => { class: "target" }, label: false, include_blank: false %>


      <!-- Date -->
      <%= f.input :delivery_date, as: :string, :input_html => { id: "delivery_date" } %>

      <!-- Quantity -->
      <%= f.input :quantity, collection: Line::QUANTITY, :input_html => { class: "field" }, label: t('label.quantity'), include_blank: false %>
      <p id="price" data-price=<%="#{d2(@cake.price)}"%>></p>

      <!-- Total -->
      <div class="horizontal">
        <p id="total" class="price"><%= t('price', price: d2(@cake.price)) %></p>
      </div>

      <div class="button-wrapper">
        <%= f.submit t('form.order'), class: "button" %>
      </div>
    <% end %>

    <div>
      <div class="button-wrapper">
        <%= link_to t('form.cancel'), :back, class: "action" %>
      </div>
    </div>
    <div>
      <div class="button-wrapper">
        <%= link_to t('form.order_more'), :home, class: "action" %>
      </div>
    </div>

  </div>
</div>
