<div class="left">
  <div class="form">

    <div>
      <p id="flow" data-id=<%= "#{@line.id}" %>></p>
      <p id="dbdate" data-deliverydate=<%= "#{@line.delivery_date.to_json}" %>></p>
    </div>

    <h1>Ma commande</h1>

    <%= simple_form_for([@cake, @line]) do |f| %>

      <p><%= cl_image_tag @cake.photo.key, class: "photo" %></p>
      <p><%= @cake.name %></p>

      <%= f.input :quantity, collection: Line::QUANTITY, :input_html => { class: "field" }, label: false, include_blank: false %>
      <p id="price" data-price=<%="#{d2(@cake.price)}"%>></p>

      <div class="horizontal">
        <p id="total" class="price"></p>
        <p class="price"><%= currency() %></p>
      </div>

      <%= f.input :delivery_date, as: :string, :input_html => { id: "delivery_date" } %>

      <div class="button-wrapper">
        <%= f.submit class: "button" %>
      </div>
    <% end %>

    <div>
      <div class="button-wrapper">
        <%= link_to "Cancel", :back, class: "button" %>
      </div>
    </div>
    <div>
      <div class="button-wrapper">
        <%= link_to "Order more", :home, class: "button" %>
      </div>
    </div>

  </div>
</div>
