<div class="left">
  <div class="form">

    <h1>Ma commande</h1>

    <%= simple_form_for([@cake, @line]) do |f| %>
      <p><%= image_tag "cake1.png", class: "photo" %></p>
      <p><%= @cake.name %></p>
      <%= f.input :quantity, :input_html => { class: "field" }, label: false %>
      <p id="price" data-price=<%="#{@cake.price_2d}"%>></p>
      <div class="horizontal">
        <p id="total" class="price"></p>
        <p class="price"><%= @cake.currency %></p>
      </div>
      <div class="button-wrapper">
        <%= f.submit class: "button" %>
      </div>
    <% end %>

    <div>
      <div class="button-wrapper">
        <%= link_to "Cancel", cakes_path, class: "button" %>
      </div>
    </div>
    <div>
      <div class="button-wrapper">
        <%= link_to "Order more", :home, class: "button" %>
      </div>
    </div>

  </div>
</div>
