<div class="center">
  <div class="form">

    <p>Ma commande</p>

    <%= simple_form_for [@cake, @line] do |f| %>
      <p>Name</p>
      <%= f.input :quantity %>
      <p>Price</p>
      <%= f.input :total %>
      <div class="button-wrapper">
        <%= f.submit class: "button" %>
      </div>
    <% end %>

    <div>
      <div class="button-wrapper">
        <%= link_to "Valider", "", class: "button" %>
      </div>
    </div>
    <div>
      <div class="button-wrapper">
        <%= link_to "Order more", :home, class: "button" %>
      </div>
    </div>

  </div>
</div>


<%= console %>
