
  <div class="horizontal">
    <div>
      <p class="label">Surname</p>
      <p><%= @address.surname %></p>
    </div>
    <div>
      <p class="label">Name</p>
      <p><%= @address.name %></p>
    </div>
  </div>
  <div>
    <div>
      <p class="label">Address</p>
      <p><%= @address.address %></p>
    </div>
    <div>
      <p class="label">Additional address</p>
      <p><%= @address.addition_address %></p>
    </div>
    <div class="horizontal">
      <div>
        <p class="label">Zip code</p>
        <p><%= @address.zip_code %></p>
      </div>
      <div>
       <p class="label">City</p>
       <p><%= @address.city %></p>
      </div>
    </div>
  </div>

  <%= render 'baskets/contact', local: { basket: @basket, address: @address } %>

  <%= link_to "", edit_address_path(@address), class: "fas fa-edit" %>
  <%= link_to "", address_path(@address) , method: :delete, data: { confirm: "Are you sure ?" },class: "fas fa-trash" %>
