<!-- table -->
<div>
  <% @basket.lines.order("delivery_date").each do |line| %>
    <% @total += line.total  %>
    <div class="product-basket">
      <% if @basket.status == Basket::STATUS[0] %>
        <div class="">
          <!--photo -->
          <% if line.cake.photo.key.nil? %>
            <div class=""><%= image_tag "cake1.png", class: "photo-basket" %></div>
          <% else %>
            <div class=""><%= cl_image_tag line.cake.photo.key, crop: :fill, class: "photo-basket" %></div>
          <% end %>
        </div>
        <!-- description -->
        <div>
          <p class="name"><%= line.cake.name %></p>
          <p class="basket-delivery"><%= line.flavour.description %></p>
          <p class="basket-delivery"><%= t('field.delivered_at') %><%= l line.delivery_date, formats: :default %></p>
          <div class="horizontal-narrow">
            <p class="label-quantity"><%= t('field.qty') %></p>
            <p class="tabl-quantity"><%= line.quantity %></p>
            <p class="tabl-total"><%= t('price', price: d2(line.total)) %></p>
          </div>
          <!-- actions -->
          <div class="actions">
            <p class="tabl-icon"><%= link_to t('form.edit'), edit_line_path(line), class: "action" %></p>
            <p class="tabl-icon"><%= link_to t('form.delete'), line_path(line), method: :delete, data: { confirm: t('confirm') }, class: "action", remote: true %></p>
          </div>
        </div>
      <% else %>
          <!--photo -->
          <div>
            <% if line.cake.photo.key.nil? %>
              <p class=""><%= image_tag "cake1.png", class: "photo-basket" %></p>
            <% else %>
              <p class=""><%= cl_image_tag line.cake.photo.key, crop: :fill, class: "photo-basket" %></p>
            <% end %>
          </div>
          <!-- description -->
          <div>
            <p class="name"><%= line.cake.name %></p>
            <p class="basket-delivery"><%= line.flavour.description %></p>
            <p class="basket-delivery"><%= t('field.delivered_at') %><%= l line.delivery_date, format: :default %></p>
            <div class="horizontal-narrow">
              <p class="label-quantity"><%= t('field.qty') %></p>
              <p class="tabl-quantity"><%= line.quantity %></p>
              <p class="tabl-total"><%= t('price', price: d2(line.total)) %></p>
            </div>
          </div>
      <% end %>

    </div>

  <% end %>

  <div class="basket-total"><p><%= t('price', price: d2(@basket.totalize)) %></p></div>
</div>
