<!-- table -->
<div>
  <% @basket.lines.order("delivery_date").each do |line| %>
    <% @total += line.total  %>
    <div class="product-basket">
      <% if @basket.status == Basket::STATUS[0] %>
        <div class="">
          <!--photo -->
          <% if line.cake.photo.key.nil? %>
            <div class=""><%= image_tag "cake1.png", class: "photo-basket" %></div>
          <% else %>
            <div class=""><%= cl_image_tag line.cake.photo.key, crop: :fill, class: "photo-basket" %></div>
          <% end %>
        </div>
        <!-- description -->
        <div class="basket-text">
          <p class="name"><%= line.cake.name %></p>
          <p class="basket-delivery">Livraison le <%= TimeFr(line.delivery_date) %></p>
          <div class="horizontal-narrow">
            <p class="label-quantity">Qté : </p>
            <p class="tabl-quantity push-right"><%= line.quantity %></p>
            <p class="tabl-total"><%= d2(line.total) %><%= currency() %></p>
          </div>
          <!-- actions -->
          <div class="actions">
            <p class="tabl-icon"><%= link_to "modifier", edit_line_path(line), class: "action" %></p>
            <p class="tabl-icon"><%= link_to "supprimer", line_path(line), method: :delete, data: { confirm: "Are you sure ?" }, class: "action", remote: true %></p>
          </div>
        </div>
      <% else %>
          <!--photo -->
          <div>
            <% if line.cake.photo.key.nil? %>
              <p class=""><%= image_tag "cake1.png", class: "photo-basket" %></p>
            <% else %>
              <p class=""><%= cl_image_tag line.cake.photo.key, crop: :fill, class: "photo-basket" %></p>
            <% end %>
          </div>
          <!-- description -->
          <div>
            <p class="name"><%= line.cake.name %></p>
            <p class="basket-delivery">Livraison le <%= TimeFr(line.delivery_date) %></p>
            <div class="horizontal-narrow">
              <p class="label-quantity">Qté : </p>
              <p class="tabl-quantity push-right"><%= line.quantity %></p>
              <p class="tabl-total"><%= d2(line.total) %><%= currency() %></p>
            </div>
          </div>
      <% end %>

    </div>

  <% end %>

  <div class="basket-total"><p><%= d2(@basket.totalize) %></p><p><%= ApplicationHelper::CURRENCY %></p></div>
</div>
