<!-- table -->
<div>
    <div class="horizontal">
      <p class="tabl-name"></p>
      <p class="tabl-date">To</p>
      <p class="tabl-price">Price</p>
      <p class="tabl-quantity">Quantity</p>
    </div>

  <% @basket.lines.each do |line| %>
  <% @total += line.total  %>
    <div class="horizontal">
      <%= link_to edit_line_path(line) do %>
        <p class="tabl-name"><%= line.cake.name %></p>
        <p class="tabl-date"><%= TimeFr(line.delivery_date) %></p>
        <p class="tabl-price"><%= d2(line.cake.price) %></p>
        <p class="tabl-quantity"><%= line.quantity %></p>
        <!-- <% @line = line %><% @cake = line.cake %>
        <%= render 'lines/basket', locals: { line: @line, cake: @cake}, class: "tabl-quantity" %> -->
        <p class="tabl-total"><%= d2(@basket.totalize) %><%= currency() %></p>
      <% end %>
      <% if @basket.status == Basket::STATUS[0] %>
        <p class="tabl-icon"><%= link_to "", edit_line_path(line), class: "fas fa-edit" %></p>
        <p class="tabl-icon"><%= link_to "", line_path(line), method: :delete, data: { confirm: "Are you sure ?" }, class: "fas fa-trash", remote: true %></p>
      <% end %>
    </div>
    <p class="tabl-date-smallscreen">To <%= TimeFr(line.delivery_date) %></p>
  <% end %>
  <div class="basket-total"><p><%= d2(@basket.totalize) %></p><p><%= ApplicationHelper::CURRENCY %></p></div>
</div>
