<h1 class="title">Mes commandes</h1>

  <div class="horizontal tabl-head">
    <p class="tabl-date">Date</p>
    <p class="tabl-status">Status</p>
    <p class="tabl-payment-type">Payment Type</p>
    <p class="tabl-total">Amount</p>
  </div>


  <% @baskets.each do |basket| %>
    <%= link_to basket_path(basket) do %>

      <div class="horizontal tabl-data">
        <p class="tabl-date"><%= TimeFr(basket.created_at) %></p>
        <p class="tabl-status"><%= basket.status %></p>
        <p class="tabl-payment-type"><%= basket.payment_type %></p>
        <p class="tabl-total"><%= number_with_precision(basket.totalize, precision: 2) %></p>
      </div>

    <% end %>
  <% end %>
