<h1 class="title"><%= t('title.baskets') %></h1>

  <div class="horizontal tabl-head">
    <p class="tabl-date"><%= t('header.date') %></p>
    <p class="tabl-id"><%= t('header.basket_number') %></p>
    <p class="tabl-email"><%= t('header.customer_email') %></p>
    <p class="tabl-payment-type"><%= t('header.payment_type') %></p>
    <p class="tabl-total"><%= t('header.amount') %></p>
    <p class="tabl-status"><%= t('header.basket_status') %></p>
  </div>

  <% @baskets.each do |basket| %>
    <%= link_to basket_path(basket) do %>

      <div class="horizontal tabl-data">
        <p class="tabl-date"><%= TimeFr(basket.created_at) %></p>
        <p class="tabl-id"><%= basket.id %></p>
        <p class="tabl-email"><%= basket.user.email %></p>
        <p class="tabl-payment-type"><%= basket.payment_type %></p>
        <p class="tabl-total"><%= number_with_precision(basket.totalize, precision: 2) %></p>
        <p class="tabl-status" data-status="<%= basket.status %>"><%= basket.status %></p>
      </div>

    <% end %>
<% end %>
