<div class="center">
  <div class="form">

    <p>Ma commande</p>
    <p><%= @cake.name %></p>
    <p>Quantité</p>
    <p><%= @cake.price %>
    <p>Total</p>

    <div>
      <div class="button-wrapper">
        <%= link_to "Valider", "", class: "button" %>
      </div>
    </div>
    <div>
      <div class="button-wrapper">
        <%= link_to "Order more", :home, class: "button" %>
      </div>
    </div>

  </div>
</div>


<%= console %>
