<%= simple_form_for((@basket), remote: true, authenticity_token: true) do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="message">
    <p>Sélectionnez votre moyen de paiment.</p>
    <p>Dès réception de votre règlement, je commence à préparer votre commande.</p>
  </div>

  <div class="horizontal">
    <%= f.input :payment_type, collection: Basket::PAYMENT_TYPE, label: false, selected: Basket::PAYMENT_TYPE[0], input_html: { id: "paymentType", class: "field"} %>
    <p class="fas fa-money-bill-wave icon"></p>
    <p class="fas fa-server icon"></p>
    <p class="fas fa-money-check icon"></p>
  </div>

    <!-- 3 options below ----------------------------------------------->
    <div class="IBAN payment-instructions">
      <div class="">
        <p class="">Voici mes coordonnées bancaires pour effectuer votre règlement</p>
        <p class="bank-details"><%= "#{Basket::IBAN}" %></p>
      </div>
    </div>

    <div class="Cash payment-instructions">
      <div class="horizontal">
        <p class="">Vous pouvez régler en avance en espèce 100% de votre commande</p>
      </div>
    </div>

    <div class="Card payment-instructions">
      <div class="horizontal">
        <p class="">Veuillez suivre les instructions de paiment par carte de l"étape suivante</p>
      </div>
    </div>
    <!------------------------------------------------------------------->

  <!-- checkout to card form or update basket show ------------------------------------>
  <div class="e-payment">
    <p><%= link_to "Checkout", new_basket_transaction_path(@basket), class: "button" %></p>
  </div>
  <div class="manual-payment">
    <%= f.submit "Checkout", class: "button" %>
  </div>

<% end %>
