<%= simple_form_for((@basket), remote: true, authenticity_token: true) do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="message">
    <div class="horizontal">
      <%= image_tag "logo.png", class: "avatar" %>
        <div>
          <p><%= t('please_select_your_payment_option') %></p>
          <p><%= t('I_begin_to_prepare_your_order_once_I_get_your_payment') %></p>
        </div>
    </div>
  </div>

  <div class="horizontal">
    <%= f.input :payment_type, collection: t(Basket::PAYMENT_TYPE, scope: 'PAYMENT_TYPE'), label: false, selected: Basket::PAYMENT_TYPE[0], input_html: { id: "paymentType", class: "field"} %>
    <p class="fas fa-money-bill-wave icon"></p>
    <p class="fas fa-server icon"></p>
    <p class="fas fa-money-check icon"></p>
  </div>

    <!-- 3 options below ----------------------------------------------->

  <div class="message IBAN payment-instructions">
    <div class="horizontal">
      <%= image_tag "logo.png", class: "avatar" %>
      <div class="">
        <p class=""><%= t('Please_find_below_my_bank_details') %></p>
        <p class="bank-details"><%= "#{Basket::IBAN}" %></p>
      </div>
    </div>
  </div>

  <div class="message Cash payment-instructions">
    <div class="horizontal">
      <%= image_tag "logo.png", class: "avatar" %>
      <p class=""><%= t('You_can_pre_pay_in_cash_100%_of_your_order') %></p>
    </div>
  </div>

  <div class="message Card payment-instructions">
    <div class="horizontal">
      <%= image_tag "logo.png", class: "avatar" %>
        <div>
          <p class=""><%= t('The_payment_is_secured_by_Braintree_owned_by_Paypal_and_comply_with_payments_rules') %></p>
          <p class=""><%= t('Please_follow_payment_instructions_next_step') %></p>
        </div>
    </div>
  </div>
  <!------------------------------------------------------------------->

  <!-- checkout to card form or update basket show ------------------------------------>
  <div class="e-payment">
    <p><%= link_to "Checkout", new_basket_transaction_path(@basket), class: "button" %></p>
  </div>
  <div class="manual-payment">
    <%= f.submit t('button.checkout'), class: "button" %>
  </div>

<% end %>
