 <div class="left">
  <div class="show">
    <div>

      <h1 class="title">Paniers</h1>

      <div class="horizontal">
        <p class="tabl-id">Id</p>
        <p class="tabl-email">Customer email</p>
        <p class="tabl-email">Status</p>
      </div>


        <% @baskets.each do |basket| %>

        <%= link_to basket_path(basket) do %>
          <div class="horizontal">
            <p class="tabl-id"><%= basket.id %></p>
            <p class="tabl-email"><%= basket.user.email %></p>
            <p class="tabl-email"><%= basket.status %></p>
          </div>
        <% end %>

      <% end %>

      <div class="button-wrapper">
        <%= link_to "Back", :back, class: "button" %>
      </div>

    </div>
  </div>
</div>
