<div class="left">
  <div class="show">
    <div>

      <!-- flow management -->
      <div class="flow">
        <p id="flow" data-status=<%= "#{@basket.status}" %>></p>
        <div class="horizontal">
          <div class="" id="basket"><%= Basket::STATUS[0] %></div>
          <div class="space"> >> </div>
          <div class="" id="delivery"><%= Basket::STATUS[1] %></div>
          <div class="space"> >> </div>
          <div class="" id="payment"><%= Basket::STATUS[2] %></div>
          <div class="space"> >> </div>
          <div class="" id="complete"><%= Basket::STATUS[3] %></div>
        </div>
      </div>

      <!-- stage basket -->
      <div class="basket">
        <div class="title">
          <h1>My basket</h1>
        </div>

         <!-- basket -->
        <%= render 'baskets/basket', basket: @basket %>

        <!-- basket actions -->
        <% if @basket.status == Basket::STATUS[0] %>
          <div>
            <div class="button-wrapper">
              <%= link_to "Order more", :home, class: "button" %>
            </div>
            <div class="button-wrapper">
              <%= link_to 'delete', basket_path(@basket), method: :delete, data: { confirm: "Are you sure ?" }, class: "button", remote: true %>
            </div>
          </div>


          <!-- flow forms -->
          <div class="horizontal">
            <%= render 'baskets/basket_forward', basket: @basket, remote: true %>
            <%= render 'baskets/basket_backward', basket: @basket, remote: true %>
          </div>
        <% end %>

      </div>

      <!-- stage delivery -->
      <div class="delivery">

        <div class="title">
          <h1>Delivery</h1>
        </div>

        <div class="address">

          <!-- left -->
          <div>
             <!-- invoicing address -->
            <div class="invoicing-address">
              <h3>Invoicing Address</h3>

              <% if current_user.addresses.exists? %>
                <%= render 'address', local: { basket: @basket, address: @address } %>
              <% else %>
                <%= link_to 'new', new_address_path, class: "button" %>
              <% end %>
            </div>
             <!-- contact address -->
            <div class="delivery-contact">
              <h3>Contact</h3>

              <%= render 'baskets/contact', local: { basket: @basket, address: @address } %>
            </div>
          </div>

          <!-- right -->
          <div>
            <div class="delivery-address">
              <h3>Delivery Address</h3>
              <!-- delivery address -->
              <%= render 'takeaway' %>
            </div>
          </div>
        </div>


        <!-- flow forms -->
        <% if @basket.status == Basket::STATUS[1] %>
          <div class="horizontal">
            <%= render 'baskets/basket_forward', basket: @basket, remote: true %>
            <%= render 'baskets/basket_backward', basket: @basket, remote: true %>
          </div>
        <% end %>

      </div>

      <!-- stage payment -->
      <div class="payment">

        <div class="title">
            <h1>Overview</h1>
        </div>

        <h3>Basket</h3>

        <%= render 'baskets/basket', basket: @basket %>

        <div class="delivery-address">
          <h3>Delivery Address</h3>
          <%= render 'takeaway' %>
        </div>

        <div class="payment">
          <!-- <div class="horizontal">
            <p id="total"><%= d2(@total) %></p>
            <p><%= ApplicationHelper::CURRENCY %></p>
          </div> -->
          <h3>Payment</h3>
          <% if @basket.payment_type.nil? %>
            <%= render 'baskets/payment' %>
          <% else %>
             <p class="tabl-email"><%= @basket.payment_type %></p>
          <% end %>


          <div class="message">
            Dès réception de votre règlement, je commence à préparer votre commande.
          </div>



        </div>

        <!-- flow forms -->
        <div class="horizontal">
          <%= render 'baskets/basket_forward', basket: @basket, remote: true %>
          <!-- <%= render 'baskets/basket_backward', basket: @basket, remote: true %> -->
        </div>

      </div>

      <!-- stage complete -->
      <div class="complete">

        <div class="title">
          <h1>Overview</h1>
        </div>

        <h3>Basket</h3>
        <%= render 'baskets/basket', basket: @basket %>

        <div class="message">
          J'ai reçu votre règlement et je prépare votre commande.
        </div>
        <div>
          <h3>Delivery Address</h3>
          <%= render 'takeaway' %>
        </div>

        <div>
          <%= link_to "My invoice", invoice_path(@basket), target: :_blank, method: :get, class: "button" %>
        </div>


      <!-- flow forms -->
        <div class="horizontal">
          <%= render 'baskets/basket_forward', basket: @basket, remote: true %>
          <!-- <%= render 'baskets/basket_backward', basket: @basket, remote: true %> -->
        </div>


      </div>



    </div>
  </div>
</div>
