<div class="left">
  <div class="show">
    <div>

      <!-- flow management ---------------------------------------------->
      <div class="flow">
        <p id="flow" data-status=<%= "#{@basket.status}" %>></p>
        <div class="horizontal">
          <div class="" id="basket"><%= Basket::STATUS[0] %></div>
          <div class="space"> > </div>
          <div class="" id="delivery"><%= Basket::STATUS[1] %></div>
          <div class="space"> > </div>
          <div class="" id="payment"><%= Basket::STATUS[2] %></div>
          <div class="space"> > </div>
          <div class="" id="complete"><%= Basket::STATUS[3] %></div>
        </div>
      </div>
      <!---------------------------------------------------------------->

      <!-- stage basket ------------------------------------------------>
      <div class="basket">
        <div class="title">
          <h1>My basket</h1>
        </div>

        <!-- basket -->
        <%= render 'basket', basket: @basket %>

        <!-- basket actions -->
        <% if @basket.status == Basket::STATUS[0] %>
          <div class="actions-wide">
            <div class="">
              <%= link_to "Order more", :home, class: "action" %>
            </div>
            <div class="">
              <%= link_to 'delete', basket_path(@basket), method: :delete, data: { confirm: "Are you sure ?" }, class: "action", remote: true %>
            </div>
          </div>

          <!-- flow forms --><!-- stage basket -->
          <div class="horizontal">
            <%= render 'basket_forward', basket: @basket, remote: true %>
            <%= render 'basket_backward', basket: @basket, remote: true %>
          </div>
        <% end %>

      </div>

      <!-- stage delivery --------------------------------------------------->
      <div class="delivery">

        <div class="title">
          <h1>Delivery</h1>
        </div>

        <div class="address">
          <!-- left -->

            <div class="message">
              <div class="horizontal">
                <%= image_tag "logo.png", class: "avatar" %>
                <p>Les commandes sont à emporter à l'adresse ci-dessous.</p>
              </div>
            </div>
            <div class="delivery-address">
              <h3>Delivery Address</h3>
              <!-- delivery address -->
              <%= render 'takeaway' %>
              <!-- map -->
              <div id='map'></div>
            </div>


        </div>


        <!-- flow forms --><!-- stage delivery -->
        <% if @basket.status == Basket::STATUS[1] %>
          <div class="horizontal">
            <%= render 'basket_forward', basket: @basket, remote: true %>
            <%= render 'basket_backward', basket: @basket, remote: true %>
          </div>
        <% end %>

      </div>

      <!-- stage payment ---------------------------------------------------->
      <div class="payment">

        <div class="title">
            <h1>Overview</h1>
        </div>

        <h3>My basket</h3>

        <!-- basket -->
        <%= render 'basket', basket: @basket %>

        <div class="delivery-address">
          <h3>Delivery Address</h3>
          <!-- delivery address -->
          <%= render 'takeaway' %>
        </div>

        <h3>Payment</h3>

        <% if @basket.payment_type.nil? %>
           <!-- payment instructions -->
          <%= render 'baskets/payment' %>
        <% else %>
            <p class="tabl-email"><%= @basket.payment_type %></p>
            <% if @basket.payment_type == Basket::PAYMENT_TYPE[0] %>
            <div class="horizontal">
              <p class="label">IBAN</p>
              <p class="bank-details"><%= "#{Basket::IBAN}" %></p>
            </div>
            <% end %>
        <% end %>



        <!-- flow forms --> <!-- stage payment -->
        <div class="horizontal">
          <%= render 'basket_forward', basket: @basket, remote: true %>
          <%= render 'basket_backward', basket: @basket, remote: true %>
        </div>

      </div>

      <!-- stage complete --------------------------------------------------->
      <div class="complete">

        <div class="title">
          <h1>Overview</h1>
        </div>

        <h3>Basket</h3>
        <%= render 'baskets/basket', basket: @basket %>

        <div class="message">
          <div class="horizontal">
            <%= image_tag "logo.png", class: "avatar" %>
            <p>J'ai reçu votre règlement et je prépare votre commande.</p>
          </div>
        </div>

        <div>
          <h3>Delivery Address</h3>
          <%= render 'takeaway' %>
        </div>

        <div>
          <%= link_to "My invoice", invoice_path(@basket), target: :_blank, method: :get, class: "button" %>
        </div>


      <!-- flow forms -->
        <div class="horizontal">
          <%= render 'baskets/basket_forward', basket: @basket, remote: true %>
          <!-- <%= render 'baskets/basket_backward', basket: @basket, remote: true %> -->
        </div>


      </div>

    </div>


  </div>
</div>


</div>
