<div class="left">
  <div class="show">
    <div>

      <!-- flow management ---------------------------------------------->
      <div class="flow">
        <p id="flow" data-status=<%= "#{@basket.status}" %>></p>
        <div class="horizontal">
          <div class="" id="basket"><%= t(Basket::STATUS[0], scope: 'STATUS') %></div>
          <div class="space"> > </div>
          <div class="" id="delivery"><%= t(Basket::STATUS[1], scope: 'STATUS') %></div>
          <div class="space"> > </div>
          <div class="" id="payment"><%= t(Basket::STATUS[2], scope: 'STATUS') %></div>
          <div class="space"> > </div>
          <div class="" id="complete"><%= t(Basket::STATUS[3], scope: 'STATUS') %></div>
        </div>
      </div>
      <!---------------------------------------------------------------->

      <!-- stage basket ------------------------------------------------>
      <div class="basket">
        <div class="title">
          <h1><%= t('title.basket') %></h1>
        </div>

        <!-- basket -->
        <%= render 'basket', basket: @basket %>

        <!-- basket actions -->
        <% if @basket.status == Basket::STATUS[0] %>
          <div class="actions-wide">
            <div class="">
              <%= link_to t('form.order_more'), :home, class: "action" %>
            </div>
            <div class="">
              <%= link_to t('form.delete'), basket_path(@basket), method: :delete, data: { confirm: t('confirm') }, class: "action", remote: true %>
            </div>
          </div>

          <!-- flow forms --><!-- stage basket -->
          <div class="horizontal">
            <%= render 'basket_forward', basket: @basket, remote: true %>
            <%= render 'basket_backward', basket: @basket, remote: true %>
          </div>
        <% end %>

      </div>

      <!-- stage delivery --------------------------------------------------->
      <div class="delivery">

        <div class="title">
          <h1><%= t('title.delivery') %></h1>
        </div>

        <div class="address">
          <!-- left -->

            <div class="message">
              <div class="horizontal">
                <%= image_tag "logo.png", class: "avatar" %>
                <p><%= t('orders_are_delivered_at_the_below_place') %></p>
              </div>
            </div>

            <div class="delivery-address">
              <h3><%= t('title.delivery_address') %></h3>

              <!-- delivery address -->
              <%= render 'takeaway' %>

              <!-- map -->
              <div id='map'></div>
            </div>

        </div>

        <!-- flow forms --><!-- stage delivery -->
        <% if @basket.status == Basket::STATUS[1] %>
          <div class="horizontal">
            <%= render 'basket_forward', basket: @basket, remote: true %>
            <%= render 'basket_backward', basket: @basket, remote: true %>
          </div>
        <% end %>

      </div>

      <!-- stage payment ---------------------------------------------------->
      <div class="payment">

        <div class="title">
            <h1><%= t('title.overview') %></h1>
        </div>

        <h3><%= t('title.basket') %></h3>

        <!-- basket -->
        <%= render 'basket', basket: @basket %>

        <div class="delivery-address">
          <h3><%= t('title.delivery_address') %></h3>
          <!-- delivery address -->
          <%= render 'takeaway' %>
        </div>

        <h3><%= t('title.payment') %></h3>

        <% if @basket.payment_type.nil? %>
           <!-- payment instructions -->
          <%= render 'baskets/payment' %>
        <% else %>
            <p class="tabl-email"><%= @basket.payment_type %></p>
            <% if @basket.payment_type == Basket::PAYMENT_TYPE[0] %>
            <div class="horizontal">
              <p class="label">IBAN</p>
              <p class="bank-details"><%= "#{Basket::IBAN}" %></p>
            </div>
            <% end %>
        <% end %>



        <!-- flow forms --> <!-- stage payment -->
        <div class="horizontal">
          <%= render 'basket_forward', basket: @basket, remote: true %>
          <%= render 'basket_backward', basket: @basket, remote: true %>
        </div>

      </div>

      <!-- stage complete --------------------------------------------------->
      <div class="complete">

        <div class="title">
          <h1><%= t('title.overview') %></h1>
        </div>

        <h3><%= t('title.basket') %></h3>
        <%= render 'baskets/basket', basket: @basket %>

        <div class="message">
          <div class="horizontal">
            <%= image_tag "logo.png", class: "avatar" %>
            <p><%= t('I_received_your_payment_,_I prepare_your_order_thanks_!') %></p>
          </div>
        </div>

        <div>
          <h3><%= t('title.delivery_address') %></h3>

          <div class="horizontal-address">
            <!-- delivery address -->
            <div class="push right">
            <%= render 'takeaway' %>
            </div>

            <!-- map -->
            <div id='map2'></div>
          </div>
        </div>

        <div>
          <%= link_to t("link.invoice"), invoice_path(@basket), target: :_blank, method: :get, class: "button" %>
        </div>


      <!-- flow forms -->
        <div class="horizontal">
          <%= render 'baskets/basket_forward', basket: @basket, remote: true %>
          <!-- <%= render 'baskets/basket_backward', basket: @basket, remote: true %> -->
        </div>


      </div>

    </div>


  </div>
</div>


</div>
