<div class="left">
  <div class="show">
    <div>

      <div class="flow">
        <p id="flow" data-status=<%= "#{@basket.status}" %>></p>
        <div class="horizontal">
          <div class="" id="basket"><%= Basket::STATUS[0] %></div>
          <div class="space"> >> </div>
          <div class="" id="delivery"><%= Basket::STATUS[1] %></div>
          <div class="space"> >> </div>
          <div class="" id="payment"><%= Basket::STATUS[2] %></div>
        </div>
      </div>

      <div class="basket">
        <div class="title">
          <h1>My basket</h1>
        </div>

        <div>
          <p>Création: <%= TimeFr(@basket.created_at) %></p>

            <div class="horizontal">
              <p class="tabl-name"></p>
              <p class="tabl-price">Price</p>
              <p class="tabl-quantity">Quantity</p>
            </div>

          <% @basket.lines.each do |line| %>
          <% @total += line.total  %>
            <div class="horizontal">
              <%= link_to edit_line_path(line) do %>
                <p class="tabl-name"><%= line.cake.name %></p>
                <p class="tabl-price"><%= line.cake.price_2d %></p>
                <p class="tabl-quantity"><%= line.quantity %></p>
                <!-- <% @line = line %><% @cake = line.cake %>
                <%= render 'lines/basket', locals: { line: @line, cake: @cake}, class: "tabl-quantity" %> -->
                <p class="tabl-total"><%= line.total_2d %><%= line.cake.currency %></p>
              <% end %>
              <p class="tabl-icon"><%= link_to "", edit_line_path(line), class: "fas fa-edit" %></p>
              <p class="tabl-icon"><%= link_to "", line_path(line), method: :delete, data: { confirm: "Are you sure ?" }, class: "fas fa-trash", remote: true %></p>
            </div>
          <% end %>
          <div class="basket-total"><p><%= number_with_precision(@total, precision: 2) %></p><p><%= Cake::CURRENCY %></p></div>
        </div>

        <div>
          <div class="button-wrapper">
            <%= link_to "Order more", :home, class: "button" %>
          </div>
          <div class="button-wrapper">
            <%= link_to 'delete', basket_path(@basket), method: :delete, data: { confirm: "Are you sure ?" }, class: "button", remote: true %>
          </div>
        </div>
        <%= render 'baskets/basket', basket: @basket, remote: true %>
      </div>

      <div class="delivery">
        <div class="title">
          <h1>My delivery</h1>
        </div>
        <div class="horizontal">
          <div>Invoicing Adress</div>
          <div>Delivery Adress</div>
        </div>
        <%= render 'baskets/basket', basket: @basket, remote: true %>
      </div>

      <div class="payment">
        <div class="title">
          <h1>My payment</h1>
        </div>
        <%= render 'baskets/basket', basket: @basket, remote: true %>
      </div>

    </div>
  </div>
</div>
