<div class="left">

      <h1><%= t('title.flavours') %></h1>

      <% if current_user.admin? %>
        <div class="button-wrapper">
          <%= link_to t('form.new'), new_flavour_path, class: "button" %>
        </div>


      <div class="">
        <% @flavours.each do |flavour| %>

          <div class="horizontal">
            <div class="push-right">
              <p><%= flavour.description %></p>
            </div>
            <div class="actions">
              <div class="button-wrapper">
                <%= link_to t('form.edit'), edit_flavour_path(flavour), class: "action" %>
              </div>
              <div class="button-wrapper">
                <%= link_to t('form.delete'), flavour_path(flavour), method: :delete, data: { confirm: t('confirm') }, class: "action", remote: true %>
              </div>
            </div>
          </div>

        <% end %>
      </div>

      <!-- >
      <div class="button-wrapper">
        <%= link_to "Back", :back, class: "button" %>
      </div> -->
   <% end %>
</div>
