<div class="left">

      <h1>Flavours</h1>

      <% if current_user.admin? %>
        <div class="button-wrapper">
          <%= link_to t('form.new'), new_flavour_path, class: "button" %>
        </div>


      <div class="">
        <% @flavours.each do |flavour| %>

          <div class="horizontal">
            <%= link_to flavour.description, flavour_path(flavour), class: "push-right" %>
            <div class="button-wrapper">
              <%= link_to t('form.edit'), edit_flavour_path(flavour), class: "button" %>
            </div>
            <div class="button-wrapper">
              <%= link_to t('form.delete'), flavour_path(flavour), method: :delete, data: { confirm: t('confirm') }, class: "button", remote: true %>
            </div>
          </div>

        <% end %>
      </div>

      <!-- >
      <div class="button-wrapper">
        <%= link_to "Back", :back, class: "button" %>
      </div> -->
   <% end %>
</div>
