<div class="center">
  <div class="form">


    <h2><%= t('devise.confirmations.account_confirmation') %></h2>

    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                    input_html: { autocomplete: "email", class: "field" } %>
      </div>

      <div class="form-actions">
        <div class="button-wrapper">
          <%= f.button :submit, t('devise.confirmations.new.resend_confirmation_instructions'), class: "button" %>
        </div>
      </div>
    <% end %>

    <div class="actions-wide-2x">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
