<div class="center">
  <div class="form">

    <h1><%= t('title.new_dimension') %></h1>
    <%= simple_form_for(@dimension) do |f| %>
      <%= f.input :level, :input_html => { class: "field" } %>
      <%= f.input :share, :input_html => { class: "field" } %>
      <div class="button-wrapper">
        <%= f.submit t('form.validate'), class: "button" %>
      </div>
    <% end %>
      <div class="button-wrapper">
        <%= link_to t('back'), :back, class: "action" %>
      </div>
  </div>
</div>
