<div class="center">
  <div class="form">

    <h1>Cake</h1>
    <%= simple_form_for(@cake) do |f| %>
      <%= f.input :name, :input_html => { class: "field" } %>
      <%= f.input :description, :input_html => { class: "field" } %>
      <%= f.input :price, :input_html => { class: "field" } %>
      <%= f.input :size, :input_html => { class: "field" } %>
      <div class="button-wrapper">
        <%= f.submit class: "button" %>
      </div>
    <% end %>
      <div class="button-wrapper">
        <%= link_to "Back", :back, class: "button" %>
      </div>
  </div>
</div>
