<div class="product">
  <%= link_to cake_path(cake) do %>
    <% if cake.photo.attached? %>
      <div class=""><%= cl_image_tag cake.photo.key, crop: :fill, class: "photo" %></div>
    <% else %>
      <%= image_tag "cake1.png", class: "photo" %>
    <% end %>
    <div class="text">
      <p class="name"><%= cake.name %></p>
      <p class="description"><%= cake.description %></p>
      <p class="size"><%= cake.size %><%= personnes() %></p>
      <p class="price"><%= d2(cake.price) %><%= currency() %></p>
    </div>
    <div class="button-wrapper">
      <%= link_to "Order", new_cake_line_path(cake), class: "button" %>
    </div>
  <% end %>
</div>
