<div class="product">

  <div>
    <%= link_to cake_path(cake) do %>

      <!-- photo -->
      <% if cake.photo.attached? %>
        <div class=""><%= cl_image_tag cake.photo.key, crop: :fill, class: "photo" %></div>
      <% else %>
        <%= image_tag "cake1.png", class: "photo" %>
      <% end %>

      <!-- text -->
      <div class="paragraph">
        <p class="name"><%= cake.name %></p>
        <p class="description"><%= cake.description %></p>
        <p class="size"><%= cake.size %><%= personnes() %></p>
        <p class="price"><%= t('price', price: d2(cake.price)) %></p>
      </div>
    <% end %>
  </div>
  <div class="product-buttons">
      <!-- buttons -->
      <% if cake.active? %>

        <div class="button-wrapper">
          <%= link_to t('form.order'), new_cake_line_path(cake), class: "button" %>
        </div>
      <% else %>
          <div class="button-wrapper">
            <div id="active-flag" class="inactivated"><%= t('status.inactive') %></div>
          </div>
      <% end %>
  </div>

</div>
