<div class="left">
  <div class="show">

    <h1><%= @cake.name %></h1>
    <div class="">
      <!-- cake ----------------------------------->
      <div>
        <%= render 'product', cake: @cake %>

        <% if user_signed_in? && current_user.admin? %>
          <div>
            <div class="button-wrapper">
              <%= link_to t('form.edit'), edit_cake_path, class: "button" %>
            </div>
            <div class="button-wrapper">
              <%= link_to t('form.delete'), cake_path(@cake), method: :delete, data: { confirm: t('confirm') }, class: "button", remote: true %>
            </div>
            <!-- active form -->
            <div class="button-wrapper">
              <%= render 'cakes/form_active' %>
            </div>
            <!------------>
          </div>
        <% end %>

        <div class="button-wrapper">
          <%= link_to t('title.creations'), cakes_path, class: "action" %>
        </div>
      </div>
      <!------------------------------------------>
      <div>
        <div class="message">
          <div class="horizontal">
            <%= image_tag "logo.png", class: "avatar" %>
            <div>
              <p>Je vous propose 5 formats disponibles ci-dessous. Factice correspond à la partie non comestible du montage.</p>
              <p>Je vous invite également à lire nos précieux conseils.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3>Formats</h3>
    <%= render 'lines/cake_scheme' %>

    <div class="advices">
      <%= render 'messages/advices' %>
    </div>

  </div>

</div>
