<div class="left">
  <div class="show">

    <div>
      <%= render 'product', cake: @cake %>

      <% if user_signed_in? && current_user.admin? %>
        <div>
          <div class="button-wrapper">
            <%= link_to t('form.edit'), edit_cake_path, class: "button" %>
          </div>
          <div class="button-wrapper">
            <%= link_to t('form.delete'), cake_path(@cake), method: :delete, data: { confirm: t('confirm') }, class: "button", remote: true %>
          </div>
          <!-- active form -->
          <div class="button-wrapper">
            <%= render 'cakes/form_active' %>
          </div>
          <!------------>
        </div>
      <% end %>


      <div class="button-wrapper">
        <%= link_to t('title.creations'), cakes_path, class: "action" %>
      </div>
    </div>

    <div class="advices">
      <%= render 'messages/advices' %>
    </div>

  </div>

</div>
