<div class="center">
  <div class="show">
    <div>
      <div class="title">
        <h1><%= t('title.address') %></h1>
      </div>

      <div class="horizontal">
        <div>
          <div class="address-label"><%= t('label.surname') %></div>
          <p class="address-field"><%= @address.surname %></p>
        </div>
        <div>
          <div class="label"><%= t('label.name') %></div>
          <p class="address-field"><%= @address.name %></p>
        </div>
      </div>

      <div>

        <div>
          <div class="label"><%= t('label.address') %></div>
          <p class="address-field"><%= @address.address %></p>
        </div>
        <div class="label"><%= t('label.additional_address') %></div>
            <p class="address-field"><%= @address.addition_address %></p>
        </div>

        <div class="horizontal">
          <div>
            <div class="label"><%= t('label.zip_code') %></div>
            <p class="address-field"><%= @address.zip_code %></p>
          </div>
          <div>
          <div class="label"><%= t('label.city') %></div>
          <p class="address-field"><%= @address.city %></p>
          </div>
        </div>

        <div>
          <div class="label"><%= t('label.phone') %></div>
            <p class="address-field"><%= format(@address.phone) %><p>
          </div>
          <div>
            <div class="label"><%= t('label.email') %></div>
            <p class="address-field"><%= current_user.email %><p>
          </div>
          <div class="address-actions">
            <div class="actions">
              <%= link_to t('link.edit_email'), edit_user_registration_path(current_user), class: "action" %>
            </div>
            <div class="actions">
              <%= link_to t('link.edit_address'), edit_address_path(@address), class: "action" %>
              <%= link_to t('link.delete'), address_path(@address) , method: :delete, data: { confirm: t('confirm') },class: "action" %>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
