<p><%= t('devise.mailer.common.Hello') %>!</p>

<p><%= t('devise.mailer.common.your_login') %> <%= @resource.email %></p>

<p><%= t('devise.mailer.password_change.changed') %></p>

<p><%= t('devise.mailer.common.best_regards') %></p>

<p><%= t('devise.mailer.common.signature') %></p>
