<p><%= t('devise.mailer.common.Hello') %>!</p>

<p><%= t('devise.mailer.common.your_login') @resource.email %></p>

<p><%= t('devise.mailer.reset_password_instructions.reset_password_instruction') %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.change_my_password'), edit_password_url(@resource, reset_password_token: @token), class: "action" %></p>

<p><%= t('devise.mailer.reset_password_instructions.wrong_request_instruction') %></p>

<p><%= t('devise.mailer.reset_password_instructions.unchange_password_message') %></p>
