 <div class="left">
  <div class="show">
    <div>

    <h3>Please complete the form below</h3>

      <div>
          <!-- invoicing address -->
        <div class="invoicing-address">
          <h3>Invoicing Address</h3>

          <% if current_user.addresses.exists? %>

            <%= render 'baskets/address', local: { basket: @basket, address: @address } %>

          <% else %>

            <%= link_to 'new', new_address_path, class: "button" %>

          <% end %>
        </div>
      </div>

      <%= simple_form_for((@basket), remote: true, authenticity_token: true) do |f| %>
        <div class="button-wrapper">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <!-- Step one: add an empty container to your page -->
          <div id="dropin-container" data-token="<%= @client_token %>"></div>
          <%= f.input :status, :input_html => { class: "noshow", value: Basket::STATUS[3] }, label: false %>
          <%= f.submit "Pay", class: "button" %>
          <input type="hidden" id="nonce" name="payment_method_nonce"/>

        </div>
      <% end %>

    </div>
  </div>
</div>
