 <div class="left">
  <h3><%= t('title.transaction') %></h3>
  <div class="transaction">
    <div>

      <div>
        <!-- invoicing address -->
          <h3><%= t('title.invoicing_address') %></h3>
          <div class="transaction-invoicing-adress">
            <% if current_user.addresses.exists? %>
              <%= render 'baskets/address', local: { basket: @basket, address: @address } %>
            <% else %>
              <%= link_to t('button.new'), new_address_path, class: "button" %>
            <% end %>
          </div>
        </div>
      </div>

      <div>
        <!-- invoicing address -->
        <h3><%= t('title.card_details') %></h3>
        <%= simple_form_for([@basket, @transaction], html: { id: "payment_form" }) do |f| %>

          <!-- Step one: add an empty container to your page -->
            <div id="dropin-container" data-token="<%= @client_token %>"></div>
            <input type="hidden" id="nonce" name="payment_method_nonce"/>
             <div class="horizontal"><p><strong><%= d2(@basket.totalize) %></p><p><%= ApplicationHelper::CURRENCY %></strong></p></div>
            <%= f.submit t('button.pay'), class: "button" %>

          </div>
        <% end %>
      </div>

      <div class="button-wrapper">
        <%= link_to t('title.basket'), basket_path(@basket), class: "action" %>
      </div>

    </div>


  </div>
</div>
