 <div class="left">
  <div class="show">
    <div>

    <h3>Transaction</h3>

      <div>
        <!-- invoicing address -->
        <div class="invoicing-address">
          <h3>Invoicing Address</h3>
          <% if current_user.addresses.exists? %>
            <%= render 'baskets/address', local: { basket: @basket, address: @address } %>
          <% else %>
            <%= link_to 'new', new_address_path, class: "button" %>
          <% end %>
        </div>
      </div>

      <%= simple_form_for([@basket, @transaction], html: { id: "payment_form" }) do |f| %>

        <!-- Step one: add an empty container to your page -->
          <div id="dropin-container" data-token="<%= @client_token %>"></div>
          <input type="hidden" id="nonce" name="payment_method_nonce"/>
          <%= f.submit "Pay", class: "button" %>
        </div>
      <% end %>

    </div>


  </div>
</div>


<%= console %>
